[Desktop Entry]
Name=Eye Of Sauron
GenericName=Object Tracker
Comment=Using webcams and the power of the Middle-earth in your Physics classes
Keywords=opencv;tracker;image;sound;
Categories=GTK;AudioVideo;Video;Audio;
Exec=eyeofsauron
# Translators: This is an icon name, don't translate!
Icon=eyeofsauron
StartupNotify=true
Terminal=false
Type=Application